<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.24" targetFramework="net40" />
  <package id="EPiServer.Framework" version="7.0.859.24" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="structuremap" version="2.6.1.0" targetFramework="net40" />
</packages>